.page {
	max-width: 1920px;
	min-width: 360px;
	min-height: 800px;
	// font-family: 'Open sans', 'Sans Serif';
	font-family: 'Sans Serif';
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
	font-size: 14px;
	color: #fff;
	line-height: 120%;
	font-weight: 400;
	background: linear-gradient(90deg, #8159C6, #6C7CFF);
  }