.login-button {
    border-radius: 4px;
    border: 1px solid #FFDE00;
    width: 161px;
    height: 50px;
    font-weight: 600;
    padding: 0;
    transition: background-color 1s;
    cursor: pointer;
    align-self: flex-start;

    &:hover {
      background-color: #FFDE00;
    }
  }

  @media screen and (max-width: 1100px) {
    .login-button {
      grid-row: 1/2;
      grid-column: 3/4;
      justify-self: end;
    }
  }

  @media screen and (max-width: 568px) {
    .login-button {
      height: 40px;
      width: 151px;
      align-self: start;
    }
  }