.container {
    padding: 0 345px;
}

@media screen and (max-width: 1800px) {
    .container {
        padding: 0 150px;
    }
}

@media screen and (max-width: 1450px) {
    .container {
        padding: 0 100px;
    }
}

@media screen and (max-width: 1300px) {
    .container {
        padding: 0 50px;
    }
}

@media screen and (max-width: 992px) {
    .container {
        padding: 0 8px;
    }
}