.description__card {
    border-left: 3px solid #FF885E;
    padding-left: 16px;
    box-sizing: border-box;

    &:last-of-type {
      margin-top: 20px;
    }
  }

  @media screen and (max-width: 568px) {
    .description__card {
      padding-left: 5px;

      &:last-of-type {
        margin-top: 15px;
      }
    }
  }