.content-title {
    max-width: 532px;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    margin: 90px 0 0 0;
    position: relative;
    z-index: 1;
}
/*
@media screen and (max-width: 984px) {
    .content-title {
        margin-top: 40px;
        font-size: 36px;
        line-height: 43px;
    }
} */


@media screen and (max-width: 992px) {
    .content-title {
        margin: 0 auto;
        margin-top: 40px;
        font-size: 36px;
        line-height: 43px;
        text-align: center

    }
}

@media screen and (max-width: 568px) {
    .content-title {
        font-size: 24px;
        line-height: 29px;
        max-width: 260px;
        margin-top: 30px;
    }
}